
.ghost-hover-md{
    --size : 1.7;
    --size-hover : 1.5;
    @apply relative;
    z-index: 0; 
    &::after{
        content: ' ';
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        position: absolute;
        @apply abs-center-xy rounded-md bg-neutral-800/[.05] transition-all scale-0;
        z-index: -1;
    }

    &:hover{
        &::after{
            @apply scale-[var(--size)]; 
        }
        &:active{
            &::after{
                @apply bg-neutral-800/[.06] scale-[var(--size-hover)];
            }
        }
    }

}

.ghost-hover-full{
    @apply relative;
    z-index: 0; 
    &::after{
        content: ' ';
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        position: absolute;
        @apply abs-center-xy rounded-full bg-neutral-800/[.05] transition-all scale-0;
        z-index: -1;
    }

    &:hover{
        &::after{
            @apply scale-[1.7];  
        }
        &:active{
            &::after{
                @apply bg-neutral-800/[.06] scale-[1.5];
            }
        }
    }

}

.badge{
    @apply rounded-full grid-center w-5 h-5 bg-natural-7 text-xs font-bold text-white;
}

.btn{
    @apply px-10 py-[6px] bg-natural-7 text-white rounded-lg button-m border border-natural-7 active:scale-95 transition-all;
    &.outline{
        @apply text-natural-7 bg-transparent outline-none;
    }
}

.light-span>span{
    @apply text-natural-4;
}

.btn-arrow{
    @apply horizontal gap-1 button-xs border-b hover:gap-3 pr-5 relative active:text-black;
    &[class*="button-s"]{
        @apply pr-6;
    }
    .icon{
        @apply absolute abs-center-y right-0 transition-[right];
    }

    &:hover{
        .icon{
            @apply -right-1;    
        }
    }
    &:active{
        .icon{
            @apply -right-2;    
        }
    }
}

.img-fit-parent{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.starsRating{
    @apply horizontal gap-[2px] text-natural-3;
    >*.active{
        @apply text-natural-5;
    }
}

button[class |= "swiper-btn"]{
    @apply w-[52px] aspect-square rounded-full grid-center bg-white text-natural-7;
    &.swiper-button-disabled{
        opacity: .4;
        @apply active:text-cus-red cursor-not-allowed;
    }
    &:not(.swiper-button-disabled){
        @apply  active:scale-95  shadow-xl active:text-cus-green;
    }
}

button{
    @apply noselect;
}

.app-section{
    @apply  uni-pad md:pt-12 md:py-0 vertical *:w-full md:gap-12 gap-10 py-8 ;
}


body .app-pagination{
    all: unset;
    width: max-content !important;
    transform: unset !important;
    @apply horizontal gap-2 ;
    >span.swiper-pagination-bullet{
        all: unset;
        margin: 0 !important;
        @apply w-4 h-4 relative border border-transparent rounded-full border-solid block cursor-pointer;

        &::after{
            content: ' ';
            @apply w-2 h-2 bg-natural-4 rounded-full absolute abs-center-xy;
        }

        &.swiper-pagination-bullet-active{
            @apply border-natural-7;
            &::after{
                @apply bg-natural-7;
            }
        }

        
    }
}

.banner-pagination{
    width: max-content !important;
    @apply h-max absolute  z-[1] horizontal gap-2 lg:gap-4;
    >span{
        all: unset;
        margin: 0 !important;
        @apply w-2 h-2 bg-white rounded-full block transition-all opacity-50;
        &.swiper-pagination-bullet-active{
            @apply w-[30px] opacity-100;
        }
    }
}

.swiper-slide>img{
    @apply absolute inset-0 w-full h-full object-cover;
}