
.ghost-hover-md{
    @apply relative;
    z-index: 0; 
    &::after{
        content: ' ';
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        position: absolute;
        @apply abs-center-xy rounded-md bg-neutral-800/[.05] transition-all scale-0;
        z-index: -1;
    }

    &:hover{
        &::after{
            @apply scale-[1.7]; 
        }
        &:active{
            &::after{
                @apply bg-neutral-800/[.06] scale-[1.5];
            }
        }
    }

}

.ghost-hover-full{
    @apply relative;
    z-index: 0; 
    &::after{
        content: ' ';
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        position: absolute;
        @apply abs-center-xy rounded-full bg-neutral-800/[.05] transition-all scale-0;
        z-index: -1;
    }

    &:hover{
        &::after{
            @apply scale-[1.7];  
        }
        &:active{
            &::after{
                @apply bg-neutral-800/[.06] scale-[1.5];
            }
        }
    }

}

.badge{
    @apply rounded-full grid-center w-5 h-5 bg-natural-7 text-xs font-bold text-white;
}

.btn{
    @apply px-10 py-[6px] bg-natural-7 text-white rounded-lg button-m border border-natural-7 active:scale-95 transition-all;
    &.outline{
        @apply text-natural-7 bg-transparent outline-none;
    }
}