@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Inter", sans-serif;
}

*[class |= "headline"]{
    font-family: "Poppins", sans-serif;
}


.webpage{
    @apply pt-[96px] md:pt-[100px];
}


@import "./assets/style/styles";

/* prevent scroll when side bar is active */
body:has( .side-bar.active){
    overflow: hidden;
}

.swiper{
    @apply w-full;
    &.swiper-auto{
        .swiper-slide{
            @apply w-max;
        }
    }
    .swiper-wrapper{
        width: max-content !important;
    }
}